* {
    box-sizing: border-box;
    }
    body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    /* background-color: #001A3A; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    }
    /* Nav Bar */
    li {
    list-style: none;
    }
    a {
    text-decoration: none;
    color: #fff;
    font-size: 1.562rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 0.8em;
    }
    .nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .logo {
    color: #FB4F93;
    font-size: 2rem;
    margin-left: 0.5em;
    font-family: 'Raleway', sans-serif;
    }
    .nav-menu {
    display: flex;
    gap: 60px;
    }
    .nav-link {
    transition: 0.8s ease;
    }
    .nav-link:hover {
    color: #3be2ea;
    }
    .hamburger {
    display: none;
    cursor: pointer;
    }
    .bar {
    display: block;
    width: 32px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    @media all and (max-width: 768px){
    .hamburger {
    display: block;
    margin-right: 20px;
    }
    .hamburger.active .bar:nth-child(2){
    opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
    transform: translateY(11px);
    rotate: 45deg;
    }
    .hamburger.active .bar:nth-child(3){
    transform: translateY(-11px);
    rotate: -45deg;
    }
    .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #272e3f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    }
    .nav-item {
    margin: 16px 0;
    }
    .nav-menu.active {
    left: 0;
    }
    .nav-link {
    font-size: 18px;
    }
    .logo {
    font-size: 1.4rem;
    letter-spacing: -.9px;
    }
    }
    /* ---- particles.js container ---- */
    #particles-js-one,
    #particles-js-two,
    #particles-js-three {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    }
    .container {
    height: 80vh;
    display: grid;
    place-content: center;
    margin-bottom: 20vh;
    } 
    .logo-text {
    display: inline-block;
    font-size: 1.875rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #64c1c8;
    font-weight: bolder;
    color: #EF2F88;
    }
    .main-container-text, .text {
    color: #fff;
    font-size: 1.562rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    }
    .main-container-text,
    .logo-text{
    margin-bottom: 0;
    }
    .link-to-project {
    text-decoration: none;
    color: #fff;
    }
    .link-to-project:hover {
    color: #64c1c8;
    }
    .btn-projects {
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 0.5em 1em; 
    width: 40%;
    border: #EF2F88 3px solid;
    box-shadow: 3px 3px 2px #64c1c8;
    transition: all 0.8s;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    }
    .btn-projects:hover {
    box-shadow: 2px 2px 2px #182747;
    transform: scale(0.8,0.8);
    color: #64c1c8;
    font-size: 1.25rem;
    }
    @media (min-width: 600px) {
    .text,
    .main-container-text{
    font-size: 2.4rem;
    }
    .logo-text {
    font-size: 2.8rem;
    text-shadow: 2px 2px 1.5px #64c1c8;
    letter-spacing: 2.5px;
    }
    } 
    /* About Section */
    .about-container,
    .slider {
    max-width: 390px;
    margin: 0 auto;
    }
    .heading {
    display: flex;
    justify-content: center;
    }
    h2,
    h3,
    .bold-text {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    }
    h2 {
    position: relative;
    color: #FB4F93;
    font-size: 1.875rem;
    font-weight: bolder;
    text-shadow: #0f172a 1.5px 1.5px 2px;
    }
    h2::before {
        position: absolute;
        content: '';
        height: 3.5rem;
        width: 3.5rem;
        bottom: -.4em;
        left: -.4em;
        z-index: -1;
        border-radius: 50%;
        background-color: #272e3f;
    }
    h2:hover::before {
        width: 7rem;
        border-radius: 8%;

    }
    .about-text {
    text-align: center;
    padding: 1em;
    }
    .bold-text {
    color: #FB4F93;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    }
    .subheading {
    color: #F9F9F9;
    font-size: 1.875rem;
    text-shadow: #0f172a 1.5px 1.5px 2px;
    letter-spacing: 2px;
    }
    .icon-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }
    .about-icon {
    height: 16vw;
    }
    .about-icons {
    background-color: #272e3f;
    padding: 0.75em 1em;
    }
    .icon-descriprion {
    color: #F9F9F9;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }
    @media (min-width: 600px) {
        #about {
            background-color: #272e3f;
        }
        .about-container, 
        .about-icons{
            max-width: 1100px;
            margin: 0 auto;
        }
        .bold-text,
        .subheading {
            font-size: 2rem;
            margin-bottom: 0.5em;
        }
        h2 {
            font-size: 2.4rem;
        }
        .icon-descriprion {
            font-size: 1.8rem;
        }
        .about-icon {
            flex-basis:  20px;
        }
        .about-icons {
            display: flex;
        }
        } 
/* Slider */
#certificate {
    max-width: 350px;
    height: 250px;
    }
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: .8em;
}
.btn-slider {
    border: none;
    background: transparent;
    color: #F9F9F9;
    font-weight: bold;
    font-size: 2rem;
}
.btn-slider:hover {
    color: #3be2ea;
    transition: 0.5s all ease-in;
}